@font-face {
    font-family: 'yekan';
    src: url(../fonts/Yekan-Font-master/Yekan.woff) format('woff');
}
@font-face {
    font-family: 'yekan2';
    src: url(../fonts/Yekan-Font-master/Yekan.woff2)format('woff2');
}